.game-states-container {
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    min-height: 100vh; 
    padding: 20px; 
    font-family: 'Arial', sans-serif; 
}

h2 {
    color: #343a40; 
    text-align: center; 
    margin-bottom: 30px; 
    font-size: 2rem; 
    font-weight: bold; 
}

ul {
    list-style-type: none;
    padding-left: 0; 
}
.game-item {
    background-color: #fff; 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out; 
}

.game-item:hover {
    transform: scale(1.02); 
}

h4 {
    color: #007bff; 
    font-size: 1.5rem; 
    font-weight: 600; 
    margin-bottom: 10px; 
    text-align: center; 
}

p {
    text-align: center; 
    color: #6c757d; 
    font-size: 1.2rem; 
}

li {
    padding: 10px 0; 
}

@media (max-width: 768px) {
    .game-item {
        padding: 15px; 
    }

    h4, p {
        font-size: 1.2rem; 
    }
}
